if BOARD_GIGABYTE_GA_Z77X_UD5H

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select CPU_INTEL_SOCKET_RPGA989
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_INT15
	select NORTHBRIDGE_INTEL_IVYBRIDGE
	select SANDYBRIDGE_IVYBRIDGE_LVDS
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_C216
	select USE_NATIVE_RAMINIT

config HAVE_IFD_BIN
	bool
	default n

config HAVE_ME_BIN
	bool
	default n

config MAINBOARD_DIR
	string
	default gigabyte/ga-z77x-ud5h

config MAINBOARD_PART_NUMBER
	string
	default "GA-Z77X-UD5H"

config VGA_BIOS_FILE
	string
	default "pci8086,0162.rom"

config VGA_BIOS_ID
	string
	default "8086,0162"

config MAINBOARD_PCI_SUBSYSTEM_DEVICE_ID
	hex
	default 0x5001

config MAINBOARD_PCI_SUBSYSTEM_VENDOR_ID
	hex
	default 0x1458

config DRAM_RESET_GATE_GPIO # FIXME: check this
	int
	default 60

config MAX_CPUS
	int
	default 8

config USBDEBUG_HCD_INDEX # FIXME: check this
	int
	default 2
endif
